In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://ayushgupta5oct:ayush123@cluster0.mis9pq9.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
'''Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?'''

'Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use \nMongoDB over SQL databases?'

In [4]:
# MongoDB is a database management platform that provides a NoSQL alternative to traditional databases such as SQL. While SQL is excellent
# when used with structured data, non-relational databases are very useful for developers that work with unstructured, distributed data.

'''A non-relational database, sometimes called NoSQL (Not Only SQL), is any kind of database that doesn’t use the tables, fields, and 
columns structured data concept from relational databases. Non-relational databases have been designed with the cloud in mind, making 
them great at horizontal scaling.'''

'A non-relational database, sometimes called NoSQL (Not Only SQL), is any kind of database that doesn’t use the tables, fields, and \ncolumns structured data concept from relational databases. Non-relational databases have been designed with the cloud in mind, making \nthem great at horizontal scaling.'

In [5]:
# We generally use mongodb because....

# 1.The installation, setup, and execution for MongoDB are quick and simple.
# 2.MongoDB (and NoSQL databases in general) has no storable data type limits.
# 3.MongoDB is faster and easier to set up than RDBMS and offers modern JavaScript frameworks.
# 4.MongoDB is scalable, flexible, and designed to overcome the limitations of other NoSQL solutions.
# 5.MongoDB is useful for developers that work with unstructured, distributed data.
# 6.MongoDB provides quicker learning and training opportunities than SQL databases.
# 7.MongoDB is well known for its horizontal scaling and load balancing capabilities, which has given 
# 8.application developers an unprecedented level of flexibility and scalability.

In [6]:
'''Q2. State and Explain the features of MongoDB.'''

'Q2. State and Explain the features of MongoDB.'

In [7]:
# The following are the features of the mongodb....

# 1.The installation, setup, and execution for MongoDB are quick and simple.
# 2.MongoDB (and NoSQL databases in general) has no storable data type limits.
# 3.MongoDB is faster and easier to set up than RDBMS and offers modern JavaScript frameworks.
# 4.MongoDB is scalable, flexible, and designed to overcome the limitations of other NoSQL solutions.
# 5.MongoDB is useful for developers that work with unstructured, distributed data.
# 6.MongoDB provides quicker learning and training opportunities than SQL databases.
# 7.MongoDB is well known for its horizontal scaling and load balancing capabilities, which has given 
# 8.application developers an unprecedented level of flexibility and scalability.

In [8]:
'''Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB'''

'Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB'

In [9]:
# The code for the establishment of connection with mongodb is given below....

import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://ayushgupta5oct:ayush123@cluster0.mis9pq9.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [10]:
# As we can see the connection is get established.....

In [11]:
db = client['kawasaki']

In [12]:
data = {"name":"ayush",
        "age":34,
        "brand":"holistic"
       }

In [13]:
coll_star = db["my_records"]

In [14]:
coll_star.insert_one(data)

In [15]:
coll_star.find_one()

{'_id': ObjectId('64f2249570054abee08058ba'),
 'name': 'babu',
 'age': 34,
 'brand': 'holistic'}

In [16]:
# so as we can see that our collection is get made in mongodb

In [17]:
'''Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record.'''

'Q4. Using the database and the collection created in question number 3, write a code to insert one record, \nand insert many records. Use the find() and find_one() methods to print the inserted record.'

In [18]:
import pymongo
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://ayushgupta5oct:ayush123@cluster0.mis9pq9.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [19]:
data2 =[ {"brand":"ninja"},
        {"name":"zx10-r"},
        {"model":"superbike"},
        {"exhaust":"sc project"}
         ]

In [20]:
coll_star.insert_many(data2)

In [21]:
for i in coll_star.find():
    print(i)

{'_id': ObjectId('64f2249570054abee08058ba'), 'name': 'babu', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f2249970054abee08058bb'), 'name': 'suyash', 'age': 18, 'brand': 'workflow'}
{'_id': ObjectId('64f2265c70054abee08058bc'), 'smartphone': 'motorola'}
{'_id': ObjectId('64f2265c70054abee08058bd'), 'car': 'koenigsegg jesko'}
{'_id': ObjectId('64f2265c70054abee08058be'), 'bike': 'ninja h2r'}
{'_id': ObjectId('64f2265c70054abee08058bf'), 'range rover': 'defender'}
{'_id': ObjectId('64f2265c70054abee08058c0'), 'ford shelby': 'dodge viper'}
{'_id': ObjectId('64f2265c70054abee08058c1'), 'msi katana': 'hp omen'}
{'_id': ObjectId('64f2265c70054abee08058c2'), 'asus scar 16': 'dell alienware'}
{'_id': ObjectId('64f2280d70054abee08058c3'), 'name': 'babu', 'brand': 'kawasaki', 'model': 'ninja h2r', 'skvalue': 'growlo'}
{'_id': ObjectId('64f229f170054abee08058c4'), 'company name': 'ducati', 'model': 'panigale v4', 'power': '218 bhp'}
{'_id': ObjectId('64f229f170054abee08058c5'), 'company name': 'kawasaki', 'model': 'ninja h2r', 'power': '301 bhp'}
{'_id': ObjectId('64f229f170054abee08058c6'), 'company name': 'mv augusta', 'model': 'f3 rc', 'power': '240 bhp'}
{'_id': 4, 'name': 'babu', 'salary': 140000}
{'_id': 5, 'name': 'suyash', 'salary': 150000}
{'_id': 6, 'name': 'anuj', 'salary': 160000}
{'_id': 7, 'name': 'harsh', 'salary': 170000}
{'_id': 8, 'name': 'yash', 'salary': 180000}
{'_id': ObjectId('64f61ff92117bd61eb228427'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f621522117bd61eb228429'), 'brand': 'ninja'}
{'_id': ObjectId('64f621522117bd61eb22842a'), 'name': 'zx10-r'}
{'_id': ObjectId('64f621522117bd61eb22842b'), 'model': 'superbike'}
{'_id': ObjectId('64f621522117bd61eb22842c'), 'exhaust': 'sc project'}
{'_id': ObjectId('64f624be972b84989f727280'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f624c7972b84989f727282'), 'brand': 'ninja'}
{'_id': ObjectId('64f624c7972b84989f727283'), 'name': 'zx10-r'}
{'_id': ObjectId('64f624c7972b84989f727284'), 'model': 'superbike'}
{'_id': ObjectId('64f624c7972b84989f727285'), 'exhaust': 'sc project'}

In [22]:
coll_star.find_one()

{'_id': ObjectId('64f2249570054abee08058ba'),
 'name': 'babu',
 'age': 34,
 'brand': 'holistic'}

In [23]:
'''Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.'''

'Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to \ndemonstrate this.'

In [24]:
# We geanerally use find() to show all the collection ,which is get stored in our mongodb database....

# if we talk about the simple code for the demonstration is given below......
# our data is already get savd in the mongodb now we just simply use this find() method to print aur data ....


for i in coll_star.find():
    print(i)

{'_id': ObjectId('64f2249570054abee08058ba'), 'name': 'babu', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f2249970054abee08058bb'), 'name': 'suyash', 'age': 18, 'brand': 'workflow'}
{'_id': ObjectId('64f2265c70054abee08058bc'), 'smartphone': 'motorola'}
{'_id': ObjectId('64f2265c70054abee08058bd'), 'car': 'koenigsegg jesko'}
{'_id': ObjectId('64f2265c70054abee08058be'), 'bike': 'ninja h2r'}
{'_id': ObjectId('64f2265c70054abee08058bf'), 'range rover': 'defender'}
{'_id': ObjectId('64f2265c70054abee08058c0'), 'ford shelby': 'dodge viper'}
{'_id': ObjectId('64f2265c70054abee08058c1'), 'msi katana': 'hp omen'}
{'_id': ObjectId('64f2265c70054abee08058c2'), 'asus scar 16': 'dell alienware'}
{'_id': ObjectId('64f2280d70054abee08058c3'), 'name': 'babu', 'brand': 'kawasaki', 'model': 'ninja h2r', 'skvalue': 'growlo'}
{'_id': ObjectId('64f229f170054abee08058c4'), 'company name': 'ducati', 'model': 'panigale v4', 'power': '218 bhp'}
{'_id': ObjectId('64f229f170054abee08058c5'), 'company name': 'kawasaki', 'model': 'ninja h2r', 'power': '301 bhp'}
{'_id': ObjectId('64f229f170054abee08058c6'), 'company name': 'mv augusta', 'model': 'f3 rc', 'power': '240 bhp'}
{'_id': 4, 'name': 'babu', 'salary': 140000}
{'_id': 5, 'name': 'suyash', 'salary': 150000}
{'_id': 6, 'name': 'anuj', 'salary': 160000}
{'_id': 7, 'name': 'harsh', 'salary': 170000}
{'_id': 8, 'name': 'yash', 'salary': 180000}
{'_id': ObjectId('64f61ff92117bd61eb228427'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f621522117bd61eb228429'), 'brand': 'ninja'}
{'_id': ObjectId('64f621522117bd61eb22842a'), 'name': 'zx10-r'}
{'_id': ObjectId('64f621522117bd61eb22842b'), 'model': 'superbike'}
{'_id': ObjectId('64f621522117bd61eb22842c'), 'exhaust': 'sc project'}
{'_id': ObjectId('64f624be972b84989f727280'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f624c7972b84989f727282'), 'brand': 'ninja'}
{'_id': ObjectId('64f624c7972b84989f727283'), 'name': 'zx10-r'}
{'_id': ObjectId('64f624c7972b84989f727284'), 'model': 'superbike'}
{'_id': ObjectId('64f624c7972b84989f727285'), 'exhaust': 'sc project'}

In [25]:
# so we can see that our data is showing .....now we can also use some filters in this ,,,like ....

In [26]:
for i in coll_star.find({"_id":{"$gte":5}}):
    print(i)

{'_id': 5, 'name': 'suyash', 'salary': 150000}
{'_id': 6, 'name': 'anuj', 'salary': 160000}
{'_id': 7, 'name': 'harsh', 'salary': 170000}
{'_id': 8, 'name': 'yash', 'salary': 180000}

In [27]:
for i in coll_star.find({"salary":{"$gte":170000}}):
    print(i)

{'_id': 7, 'name': 'harsh', 'salary': 170000}
{'_id': 8, 'name': 'yash', 'salary': 180000}

In [28]:
# so we can see that we can easily apply filter on this find() method.

In [29]:
'''Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB'''

'Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB'

In [30]:
'''The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this 
method to the cursor before retrieving any documents from the database'''

'The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this \nmethod to the cursor before retrieving any documents from the database'

In [33]:
'''Q7. Explain why delete_one(), delete_many(), and drop() is used.'''

'Q7. Explain why delete_one(), delete_many(), and drop() is used.'

In [35]:
coll_star.delete_one({"name":"babu"})

In [36]:
for i in coll_star.find():
    print(i)

{'_id': ObjectId('64f2249970054abee08058bb'), 'name': 'suyash', 'age': 18, 'brand': 'workflow'}
{'_id': ObjectId('64f2265c70054abee08058bc'), 'smartphone': 'motorola'}
{'_id': ObjectId('64f2265c70054abee08058bd'), 'car': 'koenigsegg jesko'}
{'_id': ObjectId('64f2265c70054abee08058be'), 'bike': 'ninja h2r'}
{'_id': ObjectId('64f2265c70054abee08058bf'), 'range rover': 'defender'}
{'_id': ObjectId('64f2265c70054abee08058c0'), 'ford shelby': 'dodge viper'}
{'_id': ObjectId('64f2265c70054abee08058c1'), 'msi katana': 'hp omen'}
{'_id': ObjectId('64f2265c70054abee08058c2'), 'asus scar 16': 'dell alienware'}
{'_id': ObjectId('64f2280d70054abee08058c3'), 'name': 'babu', 'brand': 'kawasaki', 'model': 'ninja h2r', 'skvalue': 'growlo'}
{'_id': ObjectId('64f229f170054abee08058c4'), 'company name': 'ducati', 'model': 'panigale v4', 'power': '218 bhp'}
{'_id': ObjectId('64f229f170054abee08058c5'), 'company name': 'kawasaki', 'model': 'ninja h2r', 'power': '301 bhp'}
{'_id': ObjectId('64f229f170054abee08058c6'), 'company name': 'mv augusta', 'model': 'f3 rc', 'power': '240 bhp'}
{'_id': 4, 'name': 'babu', 'salary': 140000}
{'_id': 5, 'name': 'suyash', 'salary': 150000}
{'_id': 6, 'name': 'anuj', 'salary': 160000}
{'_id': 7, 'name': 'harsh', 'salary': 170000}
{'_id': 8, 'name': 'yash', 'salary': 180000}
{'_id': ObjectId('64f61ff92117bd61eb228427'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f621522117bd61eb228429'), 'brand': 'ninja'}
{'_id': ObjectId('64f621522117bd61eb22842a'), 'name': 'zx10-r'}
{'_id': ObjectId('64f621522117bd61eb22842b'), 'model': 'superbike'}
{'_id': ObjectId('64f621522117bd61eb22842c'), 'exhaust': 'sc project'}
{'_id': ObjectId('64f624be972b84989f727280'), 'name': 'ayush', 'age': 34, 'brand': 'holistic'}
{'_id': ObjectId('64f624c7972b84989f727282'), 'brand': 'ninja'}
{'_id': ObjectId('64f624c7972b84989f727283'), 'name': 'zx10-r'}
{'_id': ObjectId('64f624c7972b84989f727284'), 'model': 'superbike'}
{'_id': ObjectId('64f624c7972b84989f727285'), 'exhaust': 'sc project'}